*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(246, 248, 249);
}

/* HEADER  */

header{
  margin: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.container{
  margin: 0px 10px;
}

.header-top img{
  width: 50px;
  vertical-align: bottom;
}

.title{
  display: inline-block;
  font-size: 45px;
}

h2{
  display: inline-block;  
}

/* MAIN  */
main{
  padding: 50px;
}

.banner-button{
  max-width: 1000px;
  height: 80px;
  margin: 0px auto;
  padding-top: 30px;
  background-color: white;
  border-radius: 10px 10px 0 0;  
}

.task{
  border: 1px solid rgb(49, 155, 248);
  background-color: rgb(99, 171, 235);
  margin: 0px 10px 0 50px;
  padding: 10px;
  border-radius: 5px;
  color: white;  
}

.section-add{
  border: 1px solid rgb(192, 188, 188);
  margin: 0px;
  padding: 10px;
  border-radius: 5px;
  color: rgb(192, 188, 188) ;
}

.todo{
  max-width: 1000px;
  margin: 10px auto;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 50px;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
}

/* circles */
.circle::before{
  content: '\2713';
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid green;
  color: green;
  font-size: .8rem;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
}

.circle.checked::before{
  content: '\2713';
  border: 1px solid green;
  color: green;
}

.circle.unchecked::before{
  content: '\2717';
  border: 1px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
}


.box{
  background-color: rgb(99, 171, 235);
  color: white;
  font-size: .7em;
  padding: 5px;
  border-radius: 12px;
}

.violet{
  background-color: rgb(150, 116, 221);
}

.green{
  background-color: rgb(123, 190, 170);

}

.orange{
  background-color:rgb(230, 162, 75);
}

.pink{
  background-color: rgb(201, 106, 159);
}

.lime{
  background-color: rgb(181, 200, 73);
}


.arrow{
  height: 10px;
  display: inline-block;
  font-size: 2em;
  vertical-align: top;
}


ul{
  list-style: none;
}

ul li{
  padding-left: 10px;
  padding-top: 10px;
  font-size: 1.2em;
  margin: 15px; 
}

.today{
  padding-top: 40px;
}

.upcoming{
  padding-top: 40px;
}